/Makefile
/config.log
/config.status
/libtool
/autom4te.cache
/bin/CheckMATE

/results

/tools/**/.deps
/tools/**/.libs
/tools/analysis/Makefile
/tools/analysis/lib/
/tools/analysis/libanalyses.la
/tools/fritz/Makefile
/tools/fritz/bin
/tools/fritz/fritz
/tools/python/calculate_zsig.py
*.pyc
*.o
*.lo
.dirstamp
